---
layout: compress
items:
  - name: codepen
    type: social
    caption: my friday nights
    link: "http://codepen.io/ionrocks/"
  - name: github
    type: social
    caption: projects for a good home
    link: "https://github.com/ionrocks"
  - name: gist
    type: social
    caption: handy snippets that i want to remember
    link: "https://gist.github.com/ionrocks"
  - name: reddit
    type: social
    caption: occasionally i can even be helpful
    link: "http://www.reddit.com/user/ionrocks"
  - name: procrastinat.ion.rocks
    type: project
    caption: an infinitely scrolling reddit browser
    link: "http://procrastinat.ion.rocks/"
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>mill.ion.rocks</title>
  <style>
    {% capture scss %}{% include_relative style.scss %}{% endcapture %}
    {{ scss | scssify }}
  </style>
</head>
<body>
  {% for item in page.items %}
    <a target="_blank" href="{{ item.link }}" class="{% if item.type == "social" %}purple{% else %}blue{% endif %}">
      <strong>{{ item.name }}</strong>
      <p>{{ item.caption }}</p>
    </a>
  {% endfor %}
</body>
</html>
